html, body {
    display: inline-block;
    width: 100%;
    height: 100%;
}

body {
    background: #fff9a9;
    color: #333;
}

.loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.bg-fff {
    background: #ffffff;
}

.co-red {
    color: indianred;
}

.navbar-default {
    z-index: 99;
    background: #ffffff;
    border-color: #f0f0f0;
    margin-bottom: 0;
    .navbar-brand {
        img {
            width: 55px;
            display: inline-block;
            height: 28px;
            margin-top: -5px;
        }
    }
}

.workarea {
    height: 100%;
    margin-bottom: 50px;
    aside {
        padding: 25px 25px 25px 10px;
        border: 1px solid #f1f1f1;
        border-left: 0px;
        a { 
            cursor: pointer;
            text-decoration: none;
            color: #333;
            &:hover, &:focus {
                color: dodgerblue;
            }
        }
    }
    h4, h3 {
        padding-left: 25px;
    }
    section {
        border: 1px solid #f1f1f1;
        padding: 25px;
        min-height: 100%;
        margin-bottom: 50px; 
        form, .form {
            padding: 25px;
            label {
                padding: 0;
            }
            input[type=text] {
                padding: 10px;
            }
            div {
                padding: 0;
            }
        }
    }
}
